#head {
    color: #2955e6;
    font-size: 50px
}

.cell:hover {
    background-color: lightgray;
  }

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid black;
    width: 150px;
    height: 150px;
    font-family: Impact, Haettenschweiler, 'Helvetica Narrow Bold', helvetic;
    font-size: 30px;
    
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid black;
    width: 150px;
    height: 150px;
    font-family: Helvetica;
    background-color: #2955e6;
    font-size: 18px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

#submit {
    border: 2px solid;
    margin-bottom: 20px;
    width: 150px;
    height: 55px;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#user-answer {
    background-color: #e0e0d1;
    display: flex;
    flex-direction: column;
    align-items: center; 
    border: 2px solid;
    height: 36px;
    width: 305px;
    margin-bottom: 15px;
}
#player {
    text-align: center; 
  
}
#player-score {
    margin-top: -20px;
    font-family: Impact, Haettenschweiler, 'Helvetica Narrow Bold', sans-serif;
    font-size: 40;
    color: #C0C0C0;
}

